html {
  --background-color: #eee;
  --color: #111;
}

@media screen and (prefers-color-scheme: dark) {
  html {
    --background-color: #111;
    --color: #eee;
  }
}

body {
  background-color: var(--background-color);
  color: var(--color);
  font-family: 'Montserrat', sans-serif;
}
